img{
  max-width: 100%;
}
.work-sans-font {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
/* shared styles */
.display-flex{
  display: flex;
}
/* dark 02  */
.text-gray{
  color: #424242
}
.text-primary{
  color: #ff900e;
}
/* dark o3 */
.text-light-gray{
  color: #727272;
}
.bg-light{
  background-color:  rgba(255, 144, 14, 0.1)
}
.btn-primary{
  background-color: #ff900e;
  color: white;
  padding: 20px 25px;
  font-size: 1.25rem;
  font-weight: 600;
}


/* header styles */
/* navbar related styles */
.navbar{
justify-content: space-between;
align-items: center;
}
.banner-title{
  
}
.brand{
  font-weight: 700;
  font-size: 3rem;
}



.nav-item{
  list-style: none;
  margin-right: 30px;
}
.nav-link{
  text-decoration: none;
  font-weight: 500;
}
.navbar, .banner{
  max-width: 1440px;
  margin: 0 auto;
}
main > section{
  margin-top: 130px;

}


/* banner related styles */
.banner-content{
  max-width: 850px;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 50px;
}
.explore-more-parents {
  text-align: center;
}



.banner-title{
  font-weight: 600;
  font-size: 2rem;
  text-align: center;
}
/* team and feature related styles */
.teams{
  display: flex;
  gap: 25px;
  align-items: center;
}
.team-img-container{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  
}
.banner-image{
  width: 70%;
}

#quick-list{
  font-weight: 500;
}
/* features section related styles */
.features{
  gap: 100px;
}
#feature-section-title{
  border-left: 5px solid #ff900e;
  padding: 20px;
}
.feature-card{
  padding: 30px;
  border-radius: 8px;
  margin-bottom: 20px;
}
#experience-badge{
  padding: 45px 42px;
  font-size: 1.5rem;
  font-weight: 500;
  margin-left: 100px;
  margin-top: 100px;
}


/* some facts related styles */
.facts-container{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.sponsor-info{
  max-width: 540px;
  margin: 50px auto;
  text-align: center;
}

.sponsor-companies{
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}













/* responsive media quary */
@media screen and (max-width: 576px) {
  .navbar, 
    .nav-link,
    .features,
    .teams{
      flex-direction: column;
    }
  .team-img-container, 
    .facts-container
    
    {
    grid-template-columns:  1fr;
    justify-content: center;
    align-items: center;
  }
  .fact-card{
    width: 100%;
  }
.sponsor-companies{
  grid-template-columns: repeat(1, 1fr);
  gap: 50px;
}
}
  
  
  
  

.our-features{
  width: 500px;
  margin: 0 auto;
  margin-left: 20px;
}
/* sopnsor related styles */
.sponsor-info{
  max-width: 540px;
  margin: 50px auto;
  text-align: center;
}



.feature-title{
  font-size: 2.8rem;
  font-weight: 700;
}
 
/* mediam size device */
@media screen and (min-width: 576px) and (max-width: 992px) {
  .teams{
    flex-direction: column;
  }
  .our-features{
    margin: 50px auto;
  }
  
}

.fact-card{
  border: 1px solid #ff900e;
  width: 240px;
  height: 240px;
  border-radius: 8px;
  text-align: center;
  align-items: center;
  justify-content: center;
}
.fact-number{
  font-size: 2.8rem;
  font-weight: 600;
  margin-top: 5px;
  margin-bottom: 10px;
}
.fact-name{
  font-size: 1.25rem;
  font-weight: 600;
  margin-top: 10px;
}
.fact-description{
  max-width: 540px;
}